div.container {
  border: solid black 1px;
}

/*div.container div.row div.col-6 {
  border: solid black 1px;
}*/

.container h1 {
  text-align: center;
  margin-top: 20px;
  color: red;
}

label.col-form-label {
  font-size: 14px;
}


input.form-control.mb-2.mb-sm-0 {
  font-size: 14px;
}

.col-md-6 button{
  width: 200px;
  margin: auto;
  margin-top: 20px;
  display: block;
}
