div.container {
  border: solid black 1px;
}

div.container div.row div.col-6 {
  border: solid black 1px;
}

h1 {
  text-align: center;
}

label.col-form-label {
  font-size: 14px;
}


input.form-control.mb-2.mb-sm-0 {
  font-size: 14px;
}
