body {
  background-color: rgba(0, 0, 0, 0.05);
}

.container h1 {
  text-align: center;
  margin-top: 20px;
  color: red;
  margin-bottom: 0px;
}

h3 {
  text-align: center;
}

label.col-form-label {
  font-size: 14px;
}


input.form-control.mb-2.mb-sm-0 {
  font-size: 14px;
}

.col-md-6 button{
  width: 200px;
  margin: auto;
  margin-top: 20px;
  display: block;
}

button.btn-danger {
  background-color: red;
}


button.btn-warning {
  background-color: orange;
  color: white;
}

button.btn:hover {
  color: black;
  cursor: pointer;
}

.equation {
  margin-top: 20px;
}

.equations {
  font-size: 14px;
}

h4 {
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  margin-top: 20px;
}
